DATABASE_URL=jdbc:postgresql://localhost:5432/castellum
DATABASE_USERNAME=castellum
DATABASE_PASSWORD=change-me-locally
SERVER_PORT=8080
# NVD_API_BASE_URL=https://services.nvd.nist.gov/rest/json/cves/2.0
# NVD_API_KEY=
